.html, body {
  margin: 0;
}
.body {
  font-family: Arial, sans-serif;
  height: 1000px;
  overflow-x: hidden;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  flex: 1;
}


.header {
  height: 35px;
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: underline;
  font-size: 35px;
  color: rgb(8, 8, 85);
  margin-left: 0px;
  margin-top: 5px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  margin-left: 150px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.list-container {
  position: relative;
  color: rgb(191, 191, 204);
  margin-top: -30px;
  background-color: rgb(4, 4, 94);
  border-color: grey;
  height: 30px;
  width: 80px;
  border-radius: 15px;
  border-style: solid;
  border: none;
  cursor: pointer;
}

.list-container .tooltip {
  position: absolute;
  color: white;
  background-color: rgb(68, 6, 104);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
  transition: opacity 0.15s;
  bottom: -75px;
  left: -120px;
  min-width: 180px;
}

.list-container .h-tooltip {
  position: absolute;
  color: white;
  background-color: rgb(68, 6, 104);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
  transition: opacity 0.15s;
  bottom: -45px;
  left: -50px;
  min-width: 180px;
}

.list-container:hover .tooltip {
  opacity: 1;
  cursor: pointer;
}

.list-container:hover .h-tooltip {
  opacity: 1;
  cursor: pointer;
}

.services-info {
  margin-top: 28px;
  color: rgb(0, 0, 12);
  display: flex;
  flex-direction: row;
}

.service-paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}


.p1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.p1:hover {
  font-weight: 700;
  color: brown;
}

.p2 {
  margin-bottom: 30px;
}

.p2:hover {
  font-weight: 700;
  color: brown;
}

.p3 {
  margin-top: 15px;
}

.p3:hover {
  font-weight: 700;
  color: brown;
}

.currency-group {
 display: flex;
 flex-direction: row;
 flex: 1;
 border-color: blue;
}

.currency-board {
 display: inline-grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 margin-left: 10px;
}

.currency-board2 {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 
.currency-button:hover {
  cursor: pointer;
  height: 160px;
}
ss
.currency-button2:hover {
  cursor: pointer;
  height: 160px;
}


.currency-button {
  display: grid;
  background-color: rgb(9, 9, 61);
  color: aqua;
  height: 140px;
  border-radius: 3px;
  cursor: pointer;
}

.currency-button2 {
  display: grid;
  background-color: rgb(9, 9, 61);
  color: aqua;
  height: 140px;
  border-radius: 3px;
  cursor: pointer;
}

.terms-paragraph {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 14px;
  margin-bottom: 10px;
}

.terms{
  font-family: italic;
}

.terms:hover {
  font-weight: 700;
  color: rgb(59, 8, 240);
}

.redirect {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around
}

.redirect-button {
  margin-top: auto;
  margin-left: 35px;
  margin-right: auto;
  height: 76px;
  width: 130px;
  background-color: rgb(9, 9, 61);
  color: aqua;
  border-color: blanchedalmond;
  border-style: solid;
  border-radius: 38px;
  border: none;
  cursor: pointer;
}

.redirect-button:hover {
  height: 90px;
  width: 150px;
  border-radius: 45px;
}

.contact-button {
  display: flex;
  position: absolute;
  bottom: 0;
}

.contact-container {
  background-color: rgb(9, 9, 61);
  color: aqua;
  text-decoration: underline;
  font-size: large;
  font-weight: 700;
  border: none;
  border-radius: 5x;
}

.c-tooltip {
  color: blueviolet;
  text-decoration: none;
  font-size: medium;
  font-weight: 400;
}
